@import "normalize.css";
@import "visuallyhidden.css";
@import "blocks/readings-table.css";

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	max-width: 320px;
	margin: auto;
}

@media (min-width: 640px) {
	body {
		max-width: unset;
		margin: unset;
	}
}